{% extends "compartidos/base.html" %} 

{% block head %}
<title>Create Alias</title>
{% endblock head %}


{% block h1_header %}
Create Alias
{% endblock h1_header %}


{% block main %}

<form action="" method="post">
    {% csrf_token %}
    {% comment %} <p>Nuevo_Alias: <input type="text" name="alias" /></p>
    <p>Followers: <input type="number" name="followers" /></p> {% endcomment %}
    {% comment %} <button>Create</button> {% endcomment %}

    <table>
    {{formulario}}
    </table>
    
    <input type="submit" value="Create" />
</form>

{% endblock main %}