{% extends "compartidos/base.html" %} 

{% block head %}
<title>Alias</title>
{% endblock head %}


{% block h1_header %}
Alias
{% endblock h1_header %}


{% block main %}

<a class="navbar-brand" href={% url "create_alias" %}>Crear Alias</a>

<form action="">
    
    {{formulario}}
    
    
    <input type="submit" value="Search" />
</form>

<ul>
    {% for alias in alias_encontrados %}
        <li>

            <a href={% url "detalle_alias" alias.id %}>{{ alias }} </a>|| <a href={% url "edit_alias" alias.id %}>Edit</a> || <a href={% url "delete_alias" alias.id %}>Delete</a>
        
        </li>
    {% empty %}
        <li>No se ha encontrado ningún contenido.</li>
    {% endfor %}
</ul>

{% endblock main %}