{% extends "compartidos/base.html" %}

{% block main %}
    <h2>All Tweets</h2>
    {% for tweet in tweets %}
        <div class="tweet">
            <strong>{{ tweet.user.username }}</strong>
            <p>{{ tweet.content|safe }}</p>
            <small>{{ tweet.created_at }}</small>
            
            {% if request.user == tweet.user %}
            <div class="tweet-actions">
                <a href="{% url 'tweet_update' tweet.pk %}">Edit</a> |
                <a href="{% url 'tweet_delete' tweet.pk %}">Delete</a>
            </div>
            {% endif %}
            
        </div>
    {% endfor %}
{% endblock main %}
